---
layout: default
---

<article class="post">
  <h1>{{ page.title }} | {{ page.subheading }}</h1>
  <span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="post-nav">
    <div>
      {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
      {% endif %}
    </div>
  </div>

  <div style="text-align: center;">
    <a href="{{ site.baseurl }}/blog">Back to blog</a>
  </div>

</article>
